<?xml version="1.0" encoding="UTF-8"?>
<included>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${fileLayoutPattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="com.ccicnet.gd" level="DEBUG"/>
    <logger name="org.apache.kafka.clients.consumer.internals" level="WARN"/>
    <logger name="org.springframework.kafka.listener.KafkaMessageListenerContainer" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="INFO_FILE"/>
    </root>
</included>
